@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: light;
  }

  body {
    font-family: var(--font-body), "Segoe UI", sans-serif;
    @apply antialiased;
  }

  h1,
  h2,
  h3,
  h4 {
    font-family: var(--font-heading), "Segoe UI", sans-serif;
  }
}
